.formEditarMeta{
    padding: 1rem 0;

    background-color: var(--azul0);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.formEditarMeta input{
    outline: 0;
    font-size: 1.25em;
    text-transform: capitalize;
    border: 1px solid #cccc;
    margin: 0.25rem 0;
    padding: 0.5rem;
}

.formEditarMeta button{
    width: 70%;
    font-size: 1.25em;
    margin: 1rem 0 0 0;
}

.formEditarMeta select{
    width: 100%;
    
    outline: 0;

    cursor: pointer;

    transition: 0.2s;

    border: 1px solid #000;

    font-size: 1.25em;

    text-transform: capitalize;

    padding: 0.25rem;
}
