.botoesMaisOpcoesMetas{
    display: flex;
    flex-direction: column;
}

.botoesMaisOpcoesMetas button{
    width: 40px;
    height: 40px;

    padding: 0.20rem;
    margin:0 0.75rem 0.25rem 0rem;

    cursor: pointer;

    transition: 0.1s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 1px solid #000;

    font-size: 0.75em;
    font-weight: normal;

    background-color: var(--azul2);
    color: #fff;

}

.botoesMaisOpcoesMetas button:hover{
    transform: translateY(-3px);
}

.botoesMaisOpcoesMetas button svg{
    width: 30px;
    height: 30px;
}

.botoes{
    width: 100%;
    margin: 0.5rem 0 0 0;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}