.formAddTarefa{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--azul0);
    padding: 2rem;
    border-radius: 20px;
    border: 2px solid #000;
    margin: 0 0 0 1rem;
}

.formAddTarefa input{
    margin: 0.25rem 0;
    font-size: 1.25em;
    outline: 0;
    padding: 0.5rem;
    border: 1px solid var(--azul1);
}

.formAddTarefa button{
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.2s;
    margin: 1rem 0 0 0;
    padding: 0.5rem;
    border-radius: 20px;
    border: 2px solid var(--azul1);
    background-color: var(--azul2);
    color: #fff;
}

.formAddTarefa button:hover{
    transform: translateY(-3px);
}