table{
    width: 99.9%;  

    background-color: var(--azul0);

    margin: 1rem auto;
    padding: 0.30rem;

    border-radius: 5px;
    border: 2px solid var(--azul2);

    font-size: 0.75em;
}

table thead tr th{
    border-radius: 5px;
    padding: 0.25rem;
    text-transform: capitalize;
}

.tituloCronograma{
    max-width: max-content;

    margin: 1rem auto;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.tituloCronograma span{
    display: flex;
    align-items: center;
}

.tituloCronograma h1{
    font-size: 3em;
}

.tituloCronograma svg{
    width: 50px;
    height: 50px;

    cursor: pointer;

    border-radius: 50%;
    border: 2px #cccc solid;

    margin-left: 1rem;
}

.tituloCronograma svg:active{
    transition: 0.1s;
    transform: rotate(90deg);
}

.cronograma h1{
    font-size: 3em;
    text-align: center;
}

.semanaHead{
    background-color: #7fffd4;
}

.fimSemanaHead{
    background-color: #00ffff;
}

.semanaBody{
    padding:0 0.25rem;
    border-radius: 5px;
    background-color: rgba(127, 255, 212,0.5)
}

.fimSemanaBody{
    padding:0 0.25rem;
    border-radius: 5px;
    background-color: rgba(0, 255, 255,0.5  );
}

.dia{
    height: 100vh;
}

.dia th{
    width: 100%;
    margin: 0.25rem 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    text-transform: capitalize;

    padding: 0.20rem 0.25rem;
    
    color: #fff;

    font-weight: normal;
    
    border-radius: 5px;
    background-color: #2f7fc0;
}

.dia th .ajustarFlexCronograma{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dia th .ajustarFlexCronograma svg{
    width: 20px;
    height: 20px;

    cursor: pointer;

    transition: 0.1s;
}

.dia th .ajustarFlexCronograma svg:hover{
    transform: scale(1.1);
}

.ajustarFlexCronograma .horariosTarefas .formEditarTarefaCronograma input{
    width: 150px;

    padding: 0.15rem;

    font-size: 1em;

    outline: 0;

    color: #000;
    background-color: #fff;

    border: 1px solid #000;
    border-radius: 3px;

    transition: 0.1s;
}

.ajustarFlexCronograma .horariosTarefas .formEditarTarefaCronograma input:nth-child(1){
    width: 80px;
}

.ajustarFlexCronograma .horariosTarefas .formEditarTarefaCronograma input:focus{
   animation: inputPiscando 1.5s infinite;
}

.ajustarFlexCronograma .horariosTarefas .formEditarTarefaCronograma button{
    border: 0;

    outline: 0;

    padding: 0.20rem;
    margin: 0 0.25rem;
    
    cursor: pointer;

    border-radius: 3px;
}

@keyframes inputPiscando{
    0%{
        background-color: #fff;
    }
    50%{
        background-color: #00ffff;
    }
}